<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Grocery Prices</title>

</head>

<body>

    <div class="container-fluid">

        <!-- Big Title at the Top -->
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Grocery Prices Dashboard</h1>
                <p> [We'll get some data here eventually] </p>
            </div>
        </div>

        <!-- First Row -->
        <div class="row">
            <div class="col-md-12" align="center">

                <table class="table table-hover table-condensed">

                    <P>Example Table:</P>

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Grocery Type</th>
                            <th>Location</th>
                            <th>Price</th>
                        </tr>
                    </thead>

                    <tbody id="table-body">
                        <!-- Table rows will be dynamically populated here -->
                    </tbody>

                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart-1" align="center">
                <p>Container for Chart 1</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart-2" align="center">
                <p>Container for Chart 2</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart-3" align="center">
                <p>Container for Chart 3</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart-4" align="center">
                <p>Container for Chart 4</p>
            </div>
        </div>

    </div>

    <!-- Main JavaScript Logic -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- External Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>
