<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Grocery Prices</title>
    <style>
        .table-container {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <!-- Big Title at the Top -->
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Grocery Prices Dashboard</h1>
                <p>[We'll get some data here eventually]</p>
            </div>
        </div>

        <!-- Dropdown Menu and Table Container -->
        <div class="row">
            <div class="col-md-6 table-container" align="center">
                <label for="product-dropdown">Select Product ID:</label>
                <select id="product-dropdown" class="form-control">
                    <option value="" disabled selected>Select a product</option>
                </select>
                <br>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Table rows will be dynamically populated here -->
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" align="center">
                <div id="chart-container"></div>
            </div>
        </div>
    </div>

    <!-- Main JavaScript Logic -->
    <script src="/static/js/script.js"></script>
    <!-- External Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>
