<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Grocery Prices</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    
<div class="container-fluid">

    <!--Big Title at the Top-->
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Grocery Prices Dashboard</h1>
        </div>
    </div>

    <div class = row>
        <div class = "col-md-12" id = "buttonrow" align="center">
            <a href ="{{ url_for('index') }}" class="basic-button"> INDEX</a>
            <a href="{{ url_for('charts') }}" class="basic-button"> CHARTS</a>
        </div>
    </div>
    
    <div class = row>
        <div class="col-md-12" id="chartsPage1" align="center">
            <P>Container for Chart 1</P>
        </div>
    </div>





</div>





<!-- Main JavaScript Logic -->
<script type="text/javascript" src="../static/js/logic.js"></script>

<!--Custom CSS-->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">


<!--External Scripts-->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plots.js"></script>

</body>
</html>
